openapi: 3.0.3
info:
  title: TritonAI Developer API (LiteLLM Gateway) audio chat API
  description: OpenAI-compatible LLM gateway operated by UC San Diego, powered by LiteLLM. This OpenAPI 3.0 description was faithfully derived from the live LiteLLM OpenAPI 3.1 document published at https://tritonai-api.ucsd.edu/openapi.json and scoped to the core, OpenAI-compatible inference surface that TritonAI documents (chat, completions, embeddings, model listing, image generation, and audio). Access is restricted to approved UC San Diego faculty, staff, researchers, and campus teams authenticated with issued API keys.
  version: 1.0.0
  contact:
    name: TritonAI
    email: tritonai@ucsd.edu
    url: https://tritonai.ucsd.edu/developer-apis/index.html
servers:
- url: https://tritonai-api.ucsd.edu
  description: TritonAI LLM gateway
security:
- bearerAuth: []
tags:
- name: chat
  description: Chat completion endpoints.
paths:
  /v1/chat/completions:
    post:
      tags:
      - chat
      summary: Chat Completion
      operationId: chat_completion
      description: Create a model response for the given chat conversation. Follows the OpenAI chat completions request/response contract.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ChatCompletionRequest:
      type: object
      required:
      - model
      - messages
      properties:
        model:
          type: string
          title: Model
        messages:
          type: array
          items:
            $ref: '#/components/schemas/ChatCompletionMessage'
        temperature:
          type: number
        top_p:
          type: number
        n:
          type: integer
        stream:
          type: boolean
        max_tokens:
          type: integer
      additionalProperties: true
    ValidationError:
      type: object
      title: ValidationError
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          type: array
          title: Location
          items:
            oneOf:
            - type: string
            - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    ChatCompletionMessage:
      type: object
      required:
      - role
      properties:
        role:
          type: string
          enum:
          - system
          - user
          - assistant
          - tool
          - function
          - developer
        content:
          oneOf:
          - type: string
          - type: array
            items:
              $ref: '#/components/schemas/ChatCompletionContentObject'
        name:
          type: string
      additionalProperties: true
    ChatCompletionContentObject:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - text
          - image_url
          - input_audio
        text:
          type: string
        image_url:
          oneOf:
          - type: string
          - type: object
            properties:
              url:
                type: string
            additionalProperties: true
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Issued TritonAI API key passed as a Bearer token.
