openapi: 3.2.0
info:
  title: TritonAI Developer API (LiteLLM Gateway) Embeddings API
  description: OpenAI-compatible LLM gateway operated by UC San Diego, powered by LiteLLM.
  version: 1.0.0
  contact:
    name: TritonAI
    email: tritonai@ucsd.edu
    url: https://tritonai.ucsd.edu/developer-apis/index.html
servers:
- url: https://tritonai-api.ucsd.edu
  description: TritonAI LLM gateway
security:
- bearerAuth: []
tags:
- name: Embeddings
  description: Embedding generation endpoints.
paths:
  /v1/embeddings:
    post:
      tags:
      - Embeddings
      summary: Embeddings
      operationId: embeddings
      description: Create an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    EmbeddingRequest:
      type: object
      required:
      - model
      properties:
        model:
          type: string
          title: Model
        input:
          type: array
          default: []
          items:
            type: string
        timeout:
          type: integer
          default: 600
      additionalProperties: true
    ValidationError:
      type: object
      title: ValidationError
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          type: array
          title: Location
          items:
            oneOf:
            - type: string
            - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Issued TritonAI API key passed as a Bearer token.
