openapi: 3.0.3
info:
  title: TritonAI Developer API (LiteLLM Gateway) audio images API
  description: OpenAI-compatible LLM gateway operated by UC San Diego, powered by LiteLLM. This OpenAPI 3.0 description was faithfully derived from the live LiteLLM OpenAPI 3.1 document published at https://tritonai-api.ucsd.edu/openapi.json and scoped to the core, OpenAI-compatible inference surface that TritonAI documents (chat, completions, embeddings, model listing, image generation, and audio). Access is restricted to approved UC San Diego faculty, staff, researchers, and campus teams authenticated with issued API keys.
  version: 1.0.0
  contact:
    name: TritonAI
    email: tritonai@ucsd.edu
    url: https://tritonai.ucsd.edu/developer-apis/index.html
servers:
- url: https://tritonai-api.ucsd.edu
  description: TritonAI LLM gateway
security:
- bearerAuth: []
tags:
- name: images
  description: Image generation endpoints.
paths:
  /v1/images/generations:
    post:
      tags:
      - images
      summary: Image Generation
      operationId: image_generation
      description: Generate one or more images from a text prompt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - prompt
              properties:
                model:
                  type: string
                prompt:
                  type: string
                n:
                  type: integer
                size:
                  type: string
              additionalProperties: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      type: object
      title: ValidationError
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          type: array
          title: Location
          items:
            oneOf:
            - type: string
            - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Issued TritonAI API key passed as a Bearer token.
