openapi: 3.2.0
info:
  title: TritonAI Developer API (LiteLLM Gateway) Completions API
  description: OpenAI-compatible LLM gateway operated by UC San Diego, powered by LiteLLM.
  version: 1.0.0
  contact:
    name: TritonAI
    email: tritonai@ucsd.edu
    url: https://tritonai.ucsd.edu/developer-apis/index.html
servers:
- url: https://tritonai-api.ucsd.edu
  description: TritonAI LLM gateway
security:
- bearerAuth: []
tags:
- name: Completions
  description: Text completion endpoints.
paths:
  /v1/completions:
    post:
      tags:
      - Completions
      summary: Completion
      operationId: completion
      description: Create a text completion for the provided prompt and model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      type: object
      title: HTTPValidationError
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    CompletionRequest:
      type: object
      required:
      - model
      - prompt
      properties:
        model:
          type: string
          title: Model
        prompt:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        max_tokens:
          type: integer
        temperature:
          type: number
        stream:
          type: boolean
      additionalProperties: true
    ValidationError:
      type: object
      title: ValidationError
      required:
      - loc
      - msg
      - type
      properties:
        loc:
          type: array
          title: Location
          items:
            oneOf:
            - type: string
            - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Issued TritonAI API key passed as a Bearer token.
